{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block head %}
	<style type="text/css">
		td {
			padding-top: 3px;
			padding-bottom: 3px;
			padding-right: 15px;
			padding-left: 15px;
			font-size: 90%;
		}
	</style>
	<!-- FURTHER REGISTRATION TEMPLATES:
	https://github.com/yourcelf/django-registration-defaults/tree/master/registration_defaults/templates/registration
	-->
{% endblock %}

{% block content %}
	<h2>Dicziunari {Vallader, Puter}/Tudais-ch</h2>
	Pel mumaint il dicziunari es privat ed i fa dabsögn da s'annunzchar: 
	<br>
	<br>
   <div id="text">
        <table>
          <form action="" method="post">
          {% csrf_token %}
            <tr>
                <td><label for="username">Ütilisader:</label></td>
                <td><input type="text" name="username" value="" id="username"></td>
            </tr>
            <tr>
                <td><label for="password">Pled da clav:</label></td>
                <td><input type="password" name="password" value="" id="password"></td>
            </tr>
            <tr>
            	<td></td>
                <td align="right"><input type="submit" value="Login" />
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" /></td>
            {% else %}
                <input type="hidden" name="next" value="/" /></td>
            {% endif %}
            </tr>
          </form>
        </table>


      {% if form.errors %}
        <p class="error">User or password incorrect</p>
      {% endif %}
    </div>
{% endblock %}

{% block footer %}
<br><br><br><br>
{% endblock %}
